<div class="row">
    <div class="col-md-6 mx-auto mt-5">
            <div class="card">
                <div class="card-body">
                    <h1>Iniciar Sesión</h1>    
                    <form>
                                <div class="form-group">
                                   </div>
                                    <div class="form-group">
                                        <label for="email">Correo o Usuario</label>
                                        <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email o Usuario">
                                        <small id="emailHelp" class="form-text text-muted">Nunca compartiremos su correo electrónico con nadie más.</small>
                                    </div>
                                        <div class="form-group">
                                        <label for="password">Contraseña</label>
                                        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
                                    </div>

                                    <button type="submit" class="btn btn-primary">Iniciar</button>
                    </form>
                        </div>
                    </div>
        </div>
    </div>