<div class="row">
        <div class="col-md-6 mx-auto mt-5">
                <div class="card">
                    <div class="card-body">
                            <h1 class="text-center">Registrar Porveedor</h1>
<div class="form-group">
        <fieldset disabled="">
          <label class="control-label" for="disabledInput">Disabled input</label>
          <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
        </fieldset>

      
      <div class="form-group">
        <fieldset>
          <label class="control-label" for="readOnlyInput">Readonly input</label>
          <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
        </fieldset>
      </div>
      
      <div class="form-group has-success">
        <label class="form-control-label" for="inputSuccess1">Valid input</label>
        <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
        <div class="valid-feedback">Success! You've done it.</div>
      </div>
    
        <button type="submit" class="btn btn-primary">Registrar</button>
</div>
</div>
</div>
</div>
</div>